
  
.item {
    padding: 0 1.4rem;
    max-width: 9.5rem;
    object-fit: contain;
  }
  
  .item:last-of-type {
    padding-left: 0;
  }
  @media (min-width: 768px) {
    .item {
        padding: 0 2rem;
        max-width: 14rem;
      }
  }
  
  @media (min-width: 992px) {
    .item {
        padding: 0 2.75rem;
        max-width: 18rem;
      }
  }

  
  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 202px;
  }
  
  .wrapper {
    position: absolute;
    display: flex;
  }
  
.animation {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }

  @media (min-width: 768px) {
    .inner {
 
      height: 340px;
    }
}
  
@media (min-width: 992px) {
  .inner {
    height: 336px;
  }

}
  