.icon {
    margin-bottom: 1.5rem;
}

.navItem {
    display: flex;
    flex-direction: column;
    height: 10rem;
    align-items: center;
    justify-content: center;

    margin: 0;
    font-size: 1.125rem;
    padding: 1.3125rem;
    max-width: 4.4rem;
    object-fit: contain;
}
.wrapper {
    margin: 13rem auto 9rem;
    width: 14rem;
}

.text {
    font-size: 1.125rem;
    color: #6E4230;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
}
.textActive {
    composes: text;
    color: #AB3421;
}
.textDark {
    composes: text;
    color: #F9A784;
}
.textDarkActive {
    composes: text;
    color: #FFF7F3CC;
}

@media (min-width: 768px) {
    .wrapper {
        width: 38.25rem; 
    }
    .navItem {
        padding: 2.5rem;
    }
}
  
@media (min-width: 992px) {
    .wrapper {
        
    width: 47.8rem; 
    }
    .navItem {
        max-width: 4.5625rem;
    }
}
  
  
.navItemActive {
    composes: navItem;
}

.arrowL, .arrowR {
    position: absolute;
    cursor: pointer;
}

.arrowL {
    left: 0;
}

.arrowR {
    right: 0;
}