.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg {
    display: grid;
    max-height: 1597px;
    grid-template-areas:
        "info"
        "custom";
    grid-template-rows: 1fr 2fr;
    margin-bottom: 0;
    padding-bottom: 0;
    align-items: center;
    justify-content: center;
}

.info {
    grid-area: info;
    text-align: center;
    width: 16.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.name {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
}

.description {
    font-family: 'Alegreya Sans', sans-serif;
}

.title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    margin: 0;
}

.customList {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 0.75rem;
    margin: 0;
    display: flex;
    align-items: center;
}

.customTitle {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.wrapper {
    grid-area: custom;
    width: 285px;
}

.ingredientsWrapper {
    overflow: hidden;
    width: 491px;
    margin-bottom: 1.5rem;
} 

.slider {
    width: 491px;
}

.ingredient {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 104px;
    border-radius: 20px;
    margin-right: 1.5rem;
    background-color: #DBD3C273;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.ingredient:hover {
    background-color: #E5D9C68C;
    background-image: none;
    box-shadow: none;
}

.ingredientDark {
    composes: ingredient;
    background-color: #1B1B1B26;
}

.ingredientDark:hover {
    background-image: none;
    box-shadow: none;
    background-color: #2C2C2CBF;
}

.optionIcon {
    position: absolute;
    display: none;
    width: 36px;
    height: 36px;
}

.arrow {
    color: #D85643CC;
}

.arrow:hover {
    color: #BD5849;
}

.arrow:active {
    color: #AB3421;
}

.arrowDark {
    color: #D67D69CC;
}

.arrowDark:hover {
    color: #F9A784;
}

.arrow:active {
    color: #CD5F30;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 3rem;
    font-size: 1.25rem;
}

.ingredient:hover > .optionIcon {
    display: block;
}

.ingredientActive {
    composes: ingredient;
    background-image: url("https://github.com/hsiang2/movie_image/blob/main/bg_ingredient.png?raw=true");
    background-repeat: no-repeat;
    box-shadow: 1px 1px 4px 0 #00000033;
}

.ingredientActiveDark {
    composes: ingredientDark;
    background-image: url("https://github.com/hsiang2/movie_image/blob/main/bg_ingredient_dark.png?raw=true");
    background-repeat: no-repeat;
    box-shadow: 1px 1px 4px 0 #4A4A4A33;
}

.ingredientsIconActive {
    margin-top: 0.15rem;
    width: 36px;
    height: 36px;
    opacity: 1;
}

.ingredientsIcon {
    composes: ingredientsIconActive;
    opacity: 0.3;
}

.ingredient:hover > .ingredientsIconActive {
    opacity: 0.3;
}

.ingredientsFontActive {
    margin-top: 0.4rem;
    margin-bottom: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 0.8rem;
    opacity: 1;
}

.ingredientsFont {
    composes: ingredientsFontActive;
    opacity: 0.5;
}

.ingredient:hover > .ingredientsFontActive {
    opacity: 0.5;
}

.ingredientsPriceActive {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 0.68rem;
    opacity: 0.8;
    margin: 0;
}

.ingredientsPrice {
    composes: ingredientsPriceActive;
    opacity: 0.4;
}

.ingredient:hover > .ingredientsPriceActive {
    opacity: 0.4;
}

.segmented {
    background-color: transparent;
    border: solid 1px #D5C4A117;
    border-radius: 60px;
    box-shadow: 1px 1px 4px 0 #00000033;
    width: 17.8rem;
    height: 2.375rem;
    display: flex;
    align-items: center;
}

.crustAndSize {
    max-width: 17.8rem;
    margin-bottom: 2rem;
}

.crust {
    margin-bottom: 1.5rem;
}

.qty {
    font-size: 1.25rem; 
    margin: 0;
    font-family: 'Aleo', serif;
}

.total {
    font-family: 'Alegreya Sans', sans-serif;
}

.totalPrice {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
}

@media (min-width: 768px) {
    .ingredientsWrapper {

        margin-left: 0;
    }
    .segmented {
        width: 14.8rem;
    }
    .bg {
        grid-template-areas:"info custom";
        grid-template-columns: 1fr 1fr;
        max-height: 829px;
    } 
     .wrapper {
        margin-top: 4rem;
    }
}
  
@media (min-width: 992px) {
    .info {
        width: 21.25rem;
    }
    .bg {
        max-height: 746px;;
    }
    .crustAndSize {
        display: flex;
        gap: 1.18rem;
    }
    .wrapper {
        width: 491px;
    }
}