.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.halfNav {
  display: flex;
  align-items: center;
}

.navLayout {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  margin-left: 2.25rem;
  margin-right: 2.25rem;
  display: grid;
  grid-template-areas:
    "switch"
    "nav";
}

.switch {
  grid-area: switch;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 1.5rem;
}

.logoSize {
  width: 3rem;
}

@media (min-width: 768px) {
  .navLayout {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    grid-template-areas:
      "nav switch";
    grid-template-columns: 1fr auto;
    gap: 3rem;
    margin-left: 0;
  margin-right: 0;
  }

  .logoSize {
    width: 3.875rem;
  }
  .switch {
    margin-bottom: 0rem;
  }
}

@media (min-width: 992px) {
  .navLayout {
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
    gap: 4.25rem;
  }
  .showMobile {
    display: none;
  }

  .logoSize {
    width: 4rem;
  }

}

.icon {
  display: flex;
  align-items: center;
  margin-right: 1.75rem;
}
