.navBar {
    display: none;
}

.navItem {
    margin-left: 3.5rem;
}

@media (min-width: 992px) {
    .navBar {
        display: flex;
        align-items: center;
        /* background-color: aqua; */
    }
}