/* General Styles */
/* RWD Container */
.slick-prev:before {
  content: url(/public/images/icon_arrow_l.png);
}
.slick-next:before {
  content: url(/public/images/icon_arrow_r.png);
}

.ant-segmented .ant-segmented-item-selected {
  background-color: #F9F1E15C;
  border: solid 1px #E9DEC682;
  border-radius: 60px;
  box-shadow: inset 1px 3px 3px 0 #FFFFFF40;
  box-shadow: 1px 1px 4px 0 #A99A79B3;
  width: 5.9rem;
  height: 2.25rem;
}

.ant-segmented .ant-segmented-item {
  border-radius: 60px;
  transition: #F9F1E15C 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 5.9rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-segmented .ant-segmented-thumb {
  border: solid 1px #E9DEC682;
  box-shadow: inset 1px 3px 3px 0 #FFFFFF40;
  box-shadow: 1px 1px 4px 0 #A99A79B3;
  background-color: #F9F1E15C;
  border-radius: 60px;
  width: 5.9rem;
  height: 2.25rem;
}

.ant-segmented .ant-segmented-group {
  justify-content: space-between;
}

/* .ant-drawer-header {
  background-color: #5340ff;
  border-radius: 0;
}

.ant-drawer-title {
  color: #fff;
}

.ant-drawer-body {
  background-color: #5340ff;
  color: #fff;
  height: calc(100vh - 55px);
} */

.bgMenu {
  /* position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%; */
  /* height: 100vh;
  width: 100vw; */
  min-width: 100%;
  min-height: 100%;

  background-image: url("/public/images/bg_menu_sm.png");
  background-color: #F9EED9;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100%; */
}
.bgProduct {
  min-width: 100%;
  min-height: 100%;
  background-color: #F9EED9;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/public/images/bg_product_sm.png");
}

.container {
  /* background-color: blue; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .bgMenu {
    background-image: url("/public/images/bg_menu_md.png");
  }
  .bgProduct {
    background-image: url("/public/images/bg_product_md.png");
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .bgMenu {
    background-image: url("/public/images/bg_menu_lg.png");
  }
  .bgProduct {
    background-image: url("/public/images/bg_product_lg.png");
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* body */
body {
  /* height: 100%;
  width: 100%;
  margin: 0; */
  /* margin: 0;
  height: 100%; */
  /* overflow-x: hidden; */
  /* background-image: url(); */
  font-size: 16px;
  line-height: 1.6;
}

/* Layout */
.mainLayout {
  /* overflow-x: hidden;
  width: 100%; */
  overflow-x: hidden;


  display: grid;
  min-height: 100vh;
  grid-template-areas:
    /* "header" */
    "content"
    "footer";
  grid-template-rows: 1fr auto;
  /* gap: 1em; */
  margin-bottom: 0;
  padding-bottom: 0;
}

.layoutHeader {
  position: fixed;
  z-index: 1;
  /* grid-area: header;
  padding: 0;
  height: auto;
  line-height: 1.6; */
}

.layoutFooter {
  /* overflow: auto; */

  grid-area: footer;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

.layoutContent {
  /* overflow-x: hidden;
  width: 100%; */

  grid-area: content;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.customButton {
  background-color: transparent;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
